{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{# Twig for the registration controller #}
{# Made with commands #}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="d-flex flex-column justify-content-center align-items-center ">

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="d-flex">
        <button type="submit" class="btn btn-outline-primary mx-3">Register</button>
        <a href="{{ path('login') }}" class="btn btn-outline-dark">Login</a>
        </div>
        
    {{ form_end(registrationForm) }}


</div>


{% endblock %}
