{% extends 'base.html.twig' %}

{% block title %}
	Multiple
{% endblock %}

{# Twig for the send_message_multiple for sending multiple messages#}

{% block body %}

	{# navbar with all the links #}
	<nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
		<a href=" {{ path('outbox') }} " class="btn btn-outline-info ms-3">Outbox</a>
		<a href=" {{ path('inbox') }} " class="btn btn-outline-info ms-3">Inbox</a>
		<a href=" {{ path('profile') }} " class="btn btn-outline-warning ms-3">Profile</a>
		<a href=" {{ path('app_logout') }} " class="btn btn-outline-danger ms-3">Logout</a>
	</nav>

	<div class="d-flex flex-column justify-content-center align-items-center mt-2">
		<h1>Send Message</h1>

		<form class="needs-validation d-flex flex-column justify-content-center align-items-center mt-2 w-100" method="post" novalidate enctype="multipart/form-data">
			<div class="col-md-6 mb-3">
				<label for="username">To:
				</label>
				<div class="invalid-feedback">
					Valid user name is required.
				</div>
				<select
					class="form-select" multiple aria-label="multiple select example" name="messageMultiple[]" id="messageMultiple">

					{# For each to get all the users from the database #}
					{% for user in users %}
						{% if app.user.email != user.email %}
							<option value={{user.email}}>{{user.email}}</option>
						{% endif %}
					{% endfor %}
					
				</select>
			</div>
			<div class="col-md-6 mb-3">
				<label for="message">Message</label>
				<textarea type="text" class="form-control" id="message" name="message" placeholder="New message" value="" required></textarea>
				<div class="invalid-feedback">
					Valid message is required.
				</div>
			</div>
			<div class="col-md-6 mb-3">
				<label for="fileToUpload" class="form-label">Attach file or image</label>
				<input type="file" class="form-control" name="fileToUpload" id="fileToUpload">
			</div>
			<div class="d-flex justify-content-center align-items-center">
				<button class="btn btn-outline-success mx-3" type="submit">Send</button>
			</div>
		</form>
	</div>

{% endblock %}
