{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

	<div class="d-flex flex-column justify-content-center align-items-center mt-2">
		<h1>User index</h1>
	</div>

	{# Table to show all the users of the app in the user zone #}
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Password</th>
				<th>Tlf</th>
				<th>Street</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.Tlf }}</td>
					<td>{{ user.Street }}</td>
					<td>
						<a href="{{ path('admin_show', {'id': user.id}) }}" class="btn btn-light ms-3">Show</a>
						<a href="{{ path('admin_delete', {'id': user.id}) }}" class="btn btn-danger ms-3">Delete</a>
						{# <a href="{{ path('admin_edit', {'id': user.id}) }}">edit</a> #}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# Botton to go back to the inbox #}
	<div class="d-flex flex-column justify-content-center align-items-center mt-2">
		<a href=" {{ path('inbox') }} " class="btn btn-info ms-3">Inbox</a>
	</div>
	{# <a href="{{ path('admin_new') }}">Create new</a> #}
{% endblock %}
