{% extends 'base.html.twig' %}

{% block title %}
	Inbox
{% endblock %}

{# Twig inbox controller #}

{% block body %}

	{# navbar with all the links to the other pages #}
	<nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
		<a href=" {{ path('outbox') }} " class="btn btn-outline-info">Outbox</a>
		<a href=" {{ path('send_message') }} " class="btn btn-outline-success ms-3">Send Message</a>
		<a href=" {{ path('profile') }} " class="btn btn-outline-light ms-3">Profile</a>
		{# If you have the role of user you can access the admin zone #}
		{% if user_role  == "ROLE_ADMIN"%}
			<a href=" {{ path('admin_index') }} " class="btn btn-outline-light ms-3">Admin Zone</a>
		{% endif %}
		<a href=" {{ path('app_logout') }} " class="btn btn-outline-danger ms-3">Logout</a>
	</nav>


	<div class="d-flex flex-column justify-content-center align-items-center mt-2">
		<h1>Inbox</h1>

		{# For each message recived we print it in the inbox #}
		{% for message in inbox_message %}

			{# Link to see in detail the message #}
			<a href=" {{ path('see_message', {'id': message.id}) }} " style="text-decoration:none; color:black" class="card mb-2 ">
				<div class="card-body" style="width: 18rem;">
					<div>

						{% for user in users %}
							{# If the user id is equal to the sender id we show the email of the sender #}
							{% if user.id == message.sender %}
								<h6 class="card-title">{{ user.email }}</h6>
							{% endif %}
						{% endfor %}

						{# We show the information of the message #}
						<p class="card-text">{{ message.message }}</p>

						{# If the message is not read we show an envelope closed if it is read we show an envelope open #}
						{% if message.isread == 0 %}
							<i class="fas fa-envelope"></i>
						{% else %}
							<i class="fas fa-envelope-open"></i>
						{% endif %}


					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
