{% extends 'base.html.twig' %}

{% block title %}Inbox
{% endblock %}

{% block body %}

	<nav
		class="navbar navbar-dark bg-dark d-flex justify-content-center">
		{# <a href=" {{  }} ">Send Message</a> #}
		<a href=" {{ path('outbox') }} " class="btn btn-outline-info">Outbox</a>
		<a href=" {{ path('send_message') }} " class="btn btn-outline-success mx-3">Send Message</a>
		<a href=" {{ path('app_logout') }} " class="btn btn-outline-danger ">Logout</a>
	</nav>


	<div class="d-flex flex-column justify-content-center align-items-center mt-2">
		<h1>Inbox</h1>

		{% for message in inbox_message %}
			{% for user in users %}

				<div class="card mb-2" style="width: 18rem;">
					<div class="card-body">
						{% if user.id == message.sender %}


							<h6 class="card-title">{{ user.email }}</h6>


						{% endif %}
						<p class="card-text">{{ message.message }}</p>
						{# {% if message.is_read == 0 %}
											<i class="fas fa-envelope"></i>
											{% else %}
											<i class="fas fa-envelope-open"></i>
										{% endif %} #}


					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
